.home {
    background: #f8f2e0;
}

.home-mode {
    width: 90vw;
    margin: 20px;
    border-radius: 30px;
    box-sizing: border-box;
}

.home-mode-item {
    /* border: 1px solid #50616d; */
    padding: 20px;
    position: relative;
    display: inline-block;
    width: 50%;
    text-align: center;
    box-sizing: border-box;
    transition: .3s ease-in-out;
}

.home-mode-item::-webkit-scrollbar {
    display: none;
}

.home-mode-item-img_box {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-mode-item-img {
    height: 100px;
    width: 100px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    background-color: aqua;
}

.home-mode-item-content {
    color: #50616d;
    border-radius: 30px;
    height: 100%;
}

.home-mode-item-name {
    font-size: 24px;
    margin-top: 20px;
}

.home-mode-item-introduce {
    margin: 14px 0;
    line-height: 1.375rem;
}

@media screen and (max-width:960px) {
    .home-mode-item {
        display: block;
        width: 100%;
    }
}

.home-member {
    width: 90vw;
    overflow: hidden;
}

.home-member-item {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
    height: 280px;
    margin-top: 100px;
    position: relative;
}

.home-member-item-avatar {
    position: absolute;
    top: -50px;
    left: 50%;
    margin-left: -60px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}

.home-member-item-name {
    margin-top: 70px;
    text-align: center;
    font-size: 20px;
    line-height: 3rem;
}

.home-member-item-info {
    font-size: 14px;
    line-height: 1.375rem;
    color: #50616dcc;
    height: 130px;
    overflow: overlay;
}

.home-member-item-footer {
    position: absolute;
    width: 100%;
    height: 40px;
    padding-top: 10px;
    left: 0;
    bottom: 0;
    overflow: hidden;
}

.home-member-item-footer-btn {
    width: 60%;
    height: 20px;
    background-color: #ffc000;
    color: #ffffffb9;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    margin: auto;
    border-radius: 10px 10px 0 0;
    transition: .3s;
}

.home-member-item-footer-btn:hover {
    box-shadow: 0 0 10px #ffc000;
    color: #ffffff;
}

.home-member-item-footer-btn:active {
    box-shadow: none;
    color: #ffffff;
}

.home-notice {
    width: 90vw;
    max-width: 800px;
    height: 400px;
    background-color: #d3b17d;
    border-radius: 20px;
    box-shadow: 0 10px 40px #9b9b9b;
    margin: 30px;
    overflow: hidden;
}

.home-notice-item {
    padding: 30px;
}

.home-notice-item-title {
    text-align: center;
    line-height: 3rem;
    font-size: 20px;
    font-weight: 700;
    color: #ffe2b7;
}

.home-notice-item-content {
    line-height: 1.375rem;
    color: #ffffffb9;
}

.home-tip {
    box-shadow: inset 0 0 100px #353535;
    padding: 50px;
    height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-image: url("https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fimgstore.cdn.sogou.com%2Fapp%2Fa%2F100540002%2F398203.jpg&refer=http%3A%2F%2Fimgstore.cdn.sogou.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1650285645&t=a9a32741f795a39cae519116bddf3e73");
    background-attachment: fixed;
    background-size: 150vw;
    background-position-x: center;
}

@media screen and (max-width:900px) {
    .home-tip {
        background-size: 150vh !important;
    }
}

.home-tip-content {
    font-size: 20px;
    color: #ffffffbb;
    font-family: '思源宋体';
    font-weight: 700;
    cursor: pointer;
    position: sticky;
    animation: tip .5s ease-out;
}

@keyframes tip {
    0% {
        transform: translateY(20px) scale(0.8);
        opacity: 0;
    }
    100% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}