.home {
    background: #f8f2e0;
}

.home-mode {
    width: 90vw;
    margin: 20px;
    border-radius: 30px;
    box-sizing: border-box;
}

.home-mode-item {
    /* border: 1px solid #50616d; */
    padding: 20px;
    position: relative;
    display: inline-block;
    width: 50%;
    text-align: center;
    box-sizing: border-box;
}

.home-mode-item::-webkit-scrollbar {
    display: none;
}

.home-mode-item-img_box {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-mode-item-img {
    height: 100px;
    width: 100px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    background-color: aqua;
}

.home-mode-item-content {
    color: #50616d;
    border-radius: 30px;
    height: 100%;
}

.home-mode-item-name {
    font-size: 24px;
    margin-top: 20px;
}

.home-mode-item-introduce {
    margin: 14px 0;
    line-height: 1.375rem;
}

@media screen and (max-width:960px) {
    .home-mode-item {
        display: block;
        width: 100%;
    }
}

.home-member {
    width: 90vw;
}

.home-member-item {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
    height: 280px;
    margin-top: 100px;
    position: relative;
}

.home-member-item-avatar {
    position: absolute;
    top: -50px;
    left: 50%;
    margin-left: -60px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}

.home-member-item-name {
    margin-top: 70px;
    text-align: center;
    font-size: 20px;
    line-height: 3rem;
}

.home-member-item-info {
    font-size: 16px;
    line-height: 1.375rem;
    color: #50616dcc;
    height: 130px;
    overflow: overlay;
}

.home-member-item-footer {
    position: absolute;
    width: 100%;
    height: 40px;
    padding-top: 10px;
    left: 0;
    bottom: 0;
    overflow: hidden;
}

.home-member-item-footer-btn {
    width: 60%;
    height: 20px;
    background-color: #ffc000;
    color: #ffffffb9;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    margin: auto;
    border-radius: 10px 10px 0 0;
    transition: .3s;
}

.home-member-item-footer-btn:hover {
    box-shadow: 0 0 10px #ffc000;
    color: #ffffff;
}

.home-member-item-footer-btn:active {
    box-shadow: none;
    color: #ffffff;
}

.home-notice {
    width: 90vw;
    max-width: 800px;
    height: 400px;
    background-color: #d3b17d;
    border-radius: 20px;
    box-shadow: 0 10px 40px #9b9b9b;
    margin: 30px;
}

.home-notice-item {
    padding: 30px;
}

.home-notice-item-title {
    text-align: center;
    line-height: 3rem;
    font-size: 20px;
    font-weight: 700;
    color: #ffe2b7;
}

.home-notice-item-content {
    line-height: 1.375rem;
    color: #ffffffb9;
}

.home-join {
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ee5522;
    position: relative;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='133' height='133' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23d23d09' fill-opacity='0.18'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.18'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
}

.home-join-btn {
    padding: 15px 30px;
    border: 1px solid #50616d;
    color: #50616d;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
    z-index: 12;
}

.home-join-btn:hover {
    background-color: #ffc000;
    border-color: #ffc000;
    color: #ffffff;
}

.home-join-bg {
    transition: .5s ease-in-out;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 0;
    background-color: #00000055;
    opacity: 0;
}

.home-join-bg_a {
    opacity: 1;
}