.home {
    background: #f8f2e0;
}

.home-box {
    height: 100vh;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-introduce {
    width: 80vw;
    height: 300px;
    box-sizing: border-box;
    padding: 20px;
    transform-style: preserve-3d;
    transition: 0.3s ease-in-out;
    position: relative;
    cursor: pointer;
    background-color: #ffffff;
    perspective: 1000px;
    -webkit-perspective: 1000px;
    transition: 2s;
    /* animation: home-i 0.5s ease-in-out; */
}

.home-introduce-im {
    border-radius: 10px;
    transform: rotateY(360deg) rotateX(10deg);
}

.home-explain {
    width: 100vw;
    display: flex;
    position: relative;
}

.home-explain-item {
    width: 100%;
    transition: 0.5s;
}

.home-explain-item-content {
    margin: auto;
    width: 80px;
    height: 350px;
    border-radius: 40px;
    /* background: #a29b7c; */
    border: 3px solid #865730;
    position: relative;
    cursor: pointer;
    transition: .5s;
    background-color: #f8f2e0;
}

.home-explain-item-active .home-explain-item-content {
    transform: scale(1.1);
    z-index: 1000;
}

.home-explain-item-content-t {
    font-size: 40px;
    text-align: center;
    padding: 20px;
}

.home-explain-item-content-e {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    margin-left: -3px;
    margin-bottom: -3px;
    /* background-color: #b19494; */
    border: 3px solid #1d1d1d;
    border-radius: 40px;
}

.home-explain-item-content-e div {
    padding: 0 20px;
    padding-top: 20px;
    line-height: 30px;
    font-size: 20px;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: center;
}

.home-explain-bk {
    transition: .3s ease-out;
    background-color: #00000055;
    position: absolute;
    width: 100%;
    left: 0;
    height: 100%;
    top: 0;
}

.home-explain-item-detailed {
    box-sizing: border-box;
    position: absolute;
    left: 10%;
    top: 20px;
    width: 80%;
    z-index: 1000;
    height: 310px;
    border-radius: 10px;
    padding: 20px;
    padding-left: 40px;
    background: #f2ecde;
    border: 2px solid #800b0b;
    animation: ed .5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    cursor: pointer;
}

@keyframes ed {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.home-member {
    height: 340px;
}

.home-member::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: red;
    left: 0;
    margin-top: -10px;
}

.home-member-item {
    width: 250px;
    height: 300px;
    background: #ffffff;
    border-radius: 10px;
    position: relative;
    float: left;
    margin-left: 20px;
}

.home-member-item-button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: red;
    position: absolute;
    z-index: 10;
    left: 50%;
    margin-left: -40px;
    top: -45px;
}

.home-member-item-avatar {
    width: 90px;
    height: 90px;
    background: #1280ff;
    border-radius: 10px;
    margin: 20px auto;
    margin-top: 40px;
}

.home-member-item-content {
    width: 200px;
    height: 90px;
    overflow: auto;
    margin: auto;
    text-align: center;
}

.home-member-item-name {
    font-size: 20px;
    padding-bottom: 10px;
}

.home-member-item-info {
    font-size: 14px;
}

.home-joinbox {
    padding: 100px;
    background-color: #53c8ff;
    background-color: #0f6ad4;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.53'%3E%3Cpath fill='%230f5fca' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%230f55bf' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%230f4cb5' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%230f43ab' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%230F3BA1' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%230d4fb5' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%230b67c9' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%230883de' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%2304a4f3' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%230AC4FF' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}

.home-joinbtn {
    text-align: center;
    margin: auto;
}

.home-joinbtn button {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    padding: 18px 35px;
    position: relative;
}

.home-joinbtn button::after {
    content: "";
    position: absolute;
    width: 110%;
    height: 110%;
    left: -7.5%;
    top: -7.5%;
    border: 2px solid #1d1d1d;
    transition: 0.3s;
}

.home-joinbtn button::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #00000088;
    z-index: 0;
    opacity: 0;
    transform: scale(0.5);
    transition: .3s;
}

.home-joinbtn button:hover {
    color: #ffffffbb;
    transition: .3s;
}

.home-joinbtn button:hover::after {
    transform: scale(1.1);
    opacity: 0;
}

.home-joinbtn button:hover::before {
    transform: scale(20);
    opacity: 1;
}