@font-face {
  font-family: "s";
  src: url(/static/font/思源宋体SC-Light.otf);
}
@font-face {
  font-family: "s";
  src: url(/static/font/思源宋体SC-Bold.otf);
  font-family: bolder;
}

* {
  margin: 0;
  padding: 0;
  font-family: "s";
}

*::selection {
  background-color: #e08b5a26;
}
